body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.panel-top{
    font-size: 3rem;
    text-align: center;
}

.container{
    display: grid;
    justify-content: center;
    font-size: 2rem;
}

table{
    border-spacing: 1.5rem;
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 20px auto;
}

.avatar{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

select{
    font-size: 1.5rem;
    height: 40px;
}

.form-button{
    font-size: 1.5rem;
    box-shadow: 4px 4px 0 white;
    width: 150px;
}

.center-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-list{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    width: 100%;
}


@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        border: 2px solid white;
        margin-bottom: 15px;
        padding: 10px;
        background-color: #302244;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid white;
    }

    td:last-child {
        border-bottom: none;
    }

    td::before {
        margin-right: 25px;
        content: attr(data-label);
        font-weight: bold;
        color: #b8fd33;
    }

    .form-button{
        width: 100px;
        font-size: 1.1rem;
    }
}