* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin: 0 1rem 2rem;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
}

.wheel {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 2s ease-out;
    background: conic-gradient(
        rgb(255, 67, 67) 0deg 180deg,    /* Nivel 3 (50%) */
        rgb(46, 255, 46) 180deg 270deg, /* Nivel 2 (25%) */
        rgb(77, 199, 255) 270deg 324deg,  /* Nivel 1 (15%) */
        rgb(255, 255, 81) 324deg 360deg /* X (10%) */
    );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wheel-segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    clip-path: polygon(50% 50%, 0 0, 0 100%);
}

.wheel-segment:nth-child(1) {
    transform:  rotate(180deg) ;
}

.wheel-segment:nth-child(2) {
    transform: rotate(-45deg) ;
}

.wheel-segment:nth-child(3) {
    transform:  rotate(25deg) ;
}

.wheel-segment:nth-child(4) {
    transform: rotate(70deg);
}

.wheel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 1.9rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    width: 80%;
    height: 80%;
}

.roulette {
    position: relative;
    margin: auto;
    text-align: center;
}

.roulette::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 24px;
    height: 24px;
    background-color: rgb(0, 0, 0);
    border-radius: 50% 50% 0 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

