<app-navbar></app-navbar>

<ng-container *transloco="let t">
@if(user)
{
    <div class="panel-top">

        <div class="header">
            @if(user.avatarPath != "" && !deleteAvatar)
            {
                <img class="avatar" [src]="IMG_URL + user.avatarPath" alt="avatar">
            }
            @else
            {
                <img class="avatar" src="/images/user.png" alt="avatar">
            }
            <div id="badge-ribbon">
                <span class="level">
                {{this.user.totalPoints}}
            </span>
            </div>
        </div>

        - {{user.nickname}} - <br>
        - {{ user.email }} -
    </div>
    
    <hr>

    <div class="container">

        @if(isItself)
        {
            <div class="column">

                <h2>Info</h2>
                <fieldset class="info-avatar">

                <div class="avatar-preview-img">
                    @if (this.image) {
                        <img class="avatar" 
                            [src]="this.imagePreview" 
                            alt="imagen" 
                            style="margin-top: 15px; margin-bottom: 15px;"
                        >
                    }
                    
                </div>

                <div class="avatar-preview">
                    <div class="button-wrapper">

                        <span class="label">{{t('change-avatar')}}</span>
                        <input 
                            type="file" 
                            accept="image/png, image/jpeg, image/jpg" 
                            id="input-file"  
                            [placeholder]="t('change-avatar')" 
                            (change)="onFileSelected($event)"
                        >
                    </div>

                    <button (click)="deleteAvatar = true" class="form-button">{{t('delete-avatar')}}</button>
                </div>
                </fieldset>

                <fieldset class="info">
                    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

                        <div class="profile-row">

                            <label for="nickname">Nickname:
                                <input type="text" [value]="user.nickname" formControlName="nickname" [readonly]="!isEditing">
                            </label>

                            <label for="email">Email:
                                <input id="email" type="email" formControlName="email" [readonly]="!isEditing" [value]="user.email" />
                            </label>

                        </div>

                        <div class="profile-row-buttons">
                            
                            <button type="button" [ngClass]="isEditing ? 'btn-edit' : 'btn-secondary'" class="form-button"
                                (click)="edit()">
                                {{ isEditing? t("cancel-edition") : t("edit") }}
                            </button>
                            
                            <!-- <button type="submit" class="form-button" [hidden]="!isEditing || userForm.invalid">
                                Guardar Cambios
                            </button> -->
                        
                        </div>
                    </form>
                </fieldset>
                
                <fieldset class="info">
                    <div class="profile-row">
                        <label>{{t("password")}}: <input type="password" placeholder="***********" [readonly]="!isEditing"></label>
                        <button type="button" class="form-button" style="float: right;" (click)="showEditPassword()"> {{t("change-password")}} </button>
                    </div>
                </fieldset>
                
                <div id="newPassword" [hidden]="isNewPasswordHidden">
                    
                    <fieldset class="info">
                        <form [formGroup]="passwordForm" (ngSubmit)="editPassword()">
                            
                            <div class="new-password-row">
                                <label>{{t("new-password")}}</label>
                            
                                <div class="new-password-columm">
                                    <input type="password" formControlName="newPassword" required [placeholder]="t('change-password')" />
                                    
                                    <div class="error" 
                                        *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
                                        {{t("password-minimum")}}
                                    </div>
                                </div>
                                <div class="new-password-columm">
                                    <input class="icon-input" [placeholder]="t('repeat-password')" type="password" formControlName="confirmPassword" />
                                    
                                    <div class="error" 
                                        *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched">
                                        {{t("password-do-not-match")}}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="centered-button">
                                <button type="submit" class="form-button" [disabled]="">Actualizar</button>
                            </div> -->
                        
                        </form>
                    </fieldset>
                </div>

                <div class="centered-button">
                    <button class="rainbow-button" (click)="updateUser()">{{t("save-changes")}}</button>
                </div>
            </div>
        } 
        @else 
        {
            <div class="other-column">

                <h2>Info</h2>

                <br>
                @if(waitingFriendship(user) == false)
                {
                    @if(hasFriendship(user))
                    {
                        <button class="form-button" (click)="removeFriend(hasFriendship(user))">{{t("delete-friend")}}</button>
                    }
                    @else {
                        <button class="form-button" (click)="addFriend(user)">{{t("add-friend")}}</button>
                    }
                }
                @else 
                {
                    <label for="waitingFriendship">{{t("friend-asked")}}</label>
                }

            </div>
        }
        <!-- Historial de batallas -->
        <div class="column">

            <h2>{{t("battles")}}</h2>
            <fieldset class="battle-history">

            <div class="pagination">

                <button class="pagination-button" (click)="firstPage()" [disabled]="currentPage == 1"><<</button>
                <button class="pagination-button" (click)="prevPage()" [disabled]="currentPage == 1"><</button>
                
                <span id="pagination-text">{{t("page")}} {{ currentPage }}</span>
                
                <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage * battlesPerPage >= totalBattles">></button>
                <button class="pagination-button" (click)="lastPage()" [disabled]="currentPage * battlesPerPage >= totalBattles">>></button>
                
                <select id="battles-per-page" (change)="newBattlesPerPage()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>

            @for(battle of battlesPaginated; track $index){
                <div class="battle-card">
                @if(battle.battleStateId == 4)
                {
                    @if(battle.usersBattles[0].userName == user.nickname)
                    {
                        <!--<p>Es el primer usuario</p>-->
                        @switch (battle.usersBattles[0].battleResultId) {
                            @case (1) {
                                <label style="text-align: center;">
                                    @if(!battle.isAgainstBot)
                                    {
                                        {{ battle.usersBattles[0].userName }}
                                        {{t("won-against")}} 
                                        {{ battle.usersBattles[1].userName }}
                                    }
                                    @else
                                    {
                                        {{ battle.usersBattles[0].userName }}
                                        {{t("won-against-bot")}}
                                    }
                                </label>
                            }
                            @case (2) {
                                <label style="text-align: center;">
                                    @if(!battle.isAgainstBot)
                                    {
                                        {{ battle.usersBattles[0].userName }}
                                        {{t("lost-against")}} 
                                        {{ battle.usersBattles[1].userName }}
                                    }
                                    @else
                                    {
                                        {{ battle.usersBattles[0].userName }}
                                        {{t("lost-against-bot")}}
                                    }
                                </label>
                            }
                        }
                        <label>{{t("match-time")}} {{ getDiffTime(battle.createdAt, battle.finishedAt) }}</label>
                        <!-- CAMBIAR AQUÍ POR LA CANTIDAD DE PUNTOS QUE DECIDAMOS PONER AL FINAL --> <!-- nah -->
                        <label>{{t("punctuation")}} {{ battle.usersBattles[0].punctuation }}</label>
                    }
                    @else
                    {
                        <!--<p>Es el segundo usuario</p>-->
                        @switch (battle.usersBattles[1].battleResultId) {
                            @case (1) {
                                <label style="text-align: center;">
                                    @if(!battle.isAgainstBot)
                                    {
                                        {{ battle.usersBattles[1].userName }}
                                        {{t("won-against")}} 
                                        {{ battle.usersBattles[0].userName }}
                                    }
                                    @else
                                    {
                                        {{ battle.usersBattles[1].userName }}
                                        {{t("won-against-bot")}}
                                    }
                                </label>
                            }
                            @case (2) {
                                <label style="text-align: center;">
                                    @if(!battle.isAgainstBot)
                                    {
                                        {{ battle.usersBattles[1].userName }}
                                        {{t("lost-against")}} 
                                        {{ battle.usersBattles[0].userName }}
                                    }
                                    @else
                                    {
                                        {{ battle.usersBattles[1].userName }}
                                        {{t("lost-against-bot")}}
                                    }
                                </label>
                            }
                        }
                        <label>{{t("match-time")}} {{ getDiffTime(battle.createdAt, battle.finishedAt) }}</label>
                        <!-- CAMBIAR AQUÍ POR LA CANTIDAD DE PUNTOS QUE DECIDAMOS PONER AL FINAL --> <!-- nah -->
                        <label>{{t("punctuation")}} {{ battle.usersBattles[1].punctuation }}</label>
                    }
                }
                </div>
            }
            </fieldset>
        </div>
    </div>
}
@else {
    <h1 style="text-align: center; font-size: 3em;">{{t("loading")}}</h1>
}
</ng-container>