
<div [style]="" #card class="card">

@for (_ of MAX_LEVELS; track $index) {
    @if( $index < level ){
        <div #card class="trapecio" [style]="{ '--color-level': color}"></div>
    } @else {
        <div #card class="trapecio" [style]="{ '--color-level': gris}"></div>
    }  
    
}

    <img draggable="false" id="card-img" [src]="img" alt="imagen">
    <div class="content">
        <span id="artist">{{ artist }}</span>
        <span>{{ name || effect }}</span>
        
        @switch (this.part) {
            @case ("Vocal") {
                <img id="part-icon" src="/images/vocal_lead_icon.png" alt="">
            }
            @case ("Main") {
                <img id="part-icon" src="/images/sampler_loop_icon.png" alt="">
            }
            @case ("Bass") {
                <img id="part-icon" src="/images/guitar_bass_icon.png" alt="">
            }
            @case ("Drums") {
                <img id="part-icon" src="/images/drums_beat_icon.png" alt="">
            }
        }
        
    </div>
</div>