.chat {
    background-color: rgb(42, 42, 42);
    border-radius: 5%;
    height: 50svh;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(36, 36, 36);
}

.close {
    background-color: initial;
    border: 0;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.close:hover{
    background-color: rgb(233, 233, 233);
}

.icon {
    right: 0;
    z-index: 1;
    position: fixed;
    top: 94%;
    display: flex;
    align-items: end;
}


.content {
    display: block;
    margin: 5px 20px;
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;

    height: xyz;
}


.User {
    background-color: rgb(167, 204, 202);
    float: inline-end;
    border-radius: 20px 20px 5px 20px;
    clear: both;
    margin: 10px;
    padding: 10px 15px;
    width: fit-content;
}


.Enemy {
    background-color: rgb(73, 73, 73);
    border-radius: 20px 20px 20px 5px;
    clear: both;
    margin: 10px;
    padding: 10px 15px;
    width: fit-content;
}


.envio {
    clear: both;
    font-size: 1.1rem;
    display: flex;
    margin: 10px 30px 5px;
}

.envio button {
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 15px;
    font-size: small;
    letter-spacing: 1px;
}

.envio button:hover {
    cursor: pointer;
    background-color: #0b4258;

}

.envio input {
    height: 2rem;
    flex: 1 1 auto;
}

.box {
    right: 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: end;
}


@media (max-width: 491px) {
    .chat {
        width: 80%
    }
}



#chat-btn {
    width: 40px;
    height: 28px;
    background-color: #62cfc1;
    border-radius: 4px;
    position: relative;
  }
  #chat-btn:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: 10px;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 2px solid transparent;
      border-top: 10px solid #62CFC1;
  }