<app-navbar></app-navbar>

<div class="cabecera">
    <img [src]="IMG_URL + user?.avatarPath" alt="avatar de usuario">
    <span style="font-size: 2rem;">{{user?.nickname}}</span> <!-- nickname del usuario-->
</div>

@if(readyForBattle)
    {
    @if(battle)
        {
        <button (click)="startBattle()">Comenzar partida</button>
        }
    @else
        {
        <p>Esperando a que el anfitrión comience la partida...</p>
        }
} @else {
        
    <!--mostrar tamb avatar de invitado / anfitrion-->

    <button (click)="gameWithBot()">Jugar contra un bot</button>
    <button (click)="gameRandom()">Jugar con oponente aleatorio</button>

    <!-- q te abra ventana model con amigos conectados ? -->
    
    <br><br>
    <div class="listaUsuarios">
        @if (conenctedFriends.length < 1) { <span> No hay amigos conectados para invitar a jugar </span>
            } @else {
            @for (friend of conenctedFriends; track $index) {
                <p>Invitar amigo a jugar</p>
            <div class="tarjetaUsuario">
                <div class="contenedorAvatar">
                    <img class="avatar" [src]="IMG_URL + friend.avatarPath" alt="usuario avatar" width="50px">
                </div>

                <span class="nickname">
                    {{ friend.nickname }}
                </span>

                <div class="contenedorIcono">
                    <img class="icono" (click)="gameWithFriend(friend)" src="/images/battle.webp"
                        alt="invitar a jugar a amigo">
                </div>

            </div>
            }
            }

    </div>

}