<app-navbar></app-navbar>

<div class="cabecera">
    <img [src]="IMG_URL + user?.avatarPath" alt="avatar de usuario">
    <span style="font-size: 2rem;">{{user?.nickname}}</span> <!-- nickname del usuario-->
</div>

@if(loading)
{
    <button (click)="deleteRandomBattle()">Cancelar matchmaking</button>
}

@if(readyForBattle)
{
    @if(battle)
    {
    <button (click)="startBattle()">Comenzar partida</button>
    }
    @else
    {
    <p>Esperando a que el anfitrión comience la partida...</p>
    }
    <button (click)="deleteBattleBydId(battleId || battle!!.id, true)">Abandonar partida</button>
} @else {


<!--mostrar tamb avatar de invitado / anfitrion-->

<button (click)="gameWithBot()">Jugar contra un bot</button>
<button (click)="gameRandom()">Jugar con oponente aleatorio</button>

<!-- q te abra ventana model con amigos conectados ? -->
<p>Invitar amigo a jugar</p>
<div class="listaUsuarios">
    @if (conenctedFriends.length < 1) { <span> No hay amigos conectados </span>
        } @else {
        @for (friend of conenctedFriends; track $index) {

        <div class="tarjetaUsuario">
            <div class="contenedorAvatar">
                <img class="avatar" [src]="IMG_URL + friend.avatarPath" alt="usuario avatar" width="50px">
            </div>

            <span class="nickname">
                {{ friend.nickname }}
            </span>


            @if (!hasBattle(friend)) {
            <div class="contenedorIcono">
                <img class="icono" (click)="gameWithFriend(friend)" src="/images/battle.webp"
                    alt="invitar a jugar a amigo">
            </div>
            } @else if (hasBattle(friend)) {
            <div class="contenedorIcono">
                <img class="icono" (click)="acceptBattle(friend.id)" src="/images/battle.webp" alt="aceptar batalla">
            </div>
            <div class="contenedorIcono">
                <img class="icono" (click)="deleteBattleByFriendId(friend.id)" src="/images/delete.webp" alt="rechazar batalla">
            </div>
            }
        </div>


        }
        }

</div>
<br>

}