<nav>

    @if (this.router.url == '/'){
    <a (click)="startMusic()">
        <img #tooltip="matTooltip" matTooltip="Pulsa para un secreto :D" matTooltipPosition="below"
            matTooltipClass="tooltip" id="speaker" [src]="frameName" alt="altavoz">
    </a>
    }
    @else
    {
    <a (click)="startMusic()">
        <img id="speaker" [src]="frameName" alt="altavoz">
    </a>
    }


    <div class="nav-right">

        @if (this.router.url == '/' || this.router.url == '/#rules') {

        <a href="#rules">
            <span>REGLAS</span>
        </a>


        } @else {

        <a class="home" (click)="navigateToUrl('/')">
            <span>INICIO</span>
        </a>

        }

        @if (authService.isAuthenticated()) {

        <a class="home" (click)="navigateToUrl('/menu')">
            <span>MENÚ</span>
        </a>
        }


        <div class="trofeo" (click)="navigateToUrl('ranking')" >
            <img class="ranking" src="/images/trophy.webp" alt="ranking">
            @if (authService.isAuthenticated()) {
                <span id="level">{{this.user.totalPoints}}</span>
            }
        </div>



        @if (authService.isAuthenticated()) {
        <div class="dropdown">
            @if(user?.avatarPath != ""){
            <img class="avatar" [src]="IMG_URL + user?.avatarPath" alt="avatar">
            }@else {
            <img class="avatar" src="/images/user.png" alt="avatar">
            }
            <div class="dropdown-content">
                <a (click)="navigateToUrl('profile/' + user?.id)">Perfil</a>
                @if (authService.isAdmin()) {
                <a (click)="navigateToUrl('admin/' + user?.id)">Administración</a>
                }
            </div>
        </div>
        }



        @if (authService.isAuthenticated()) {
        <a class="logout" (click)="authClick()">
            <img #tooltip="matTooltip" matTooltip="Cerrar sesión" matTooltipPosition="below" matTooltipClass="tooltip"
                src="/images/salida.webp" alt="Cerrar sesión">
        </a>
        }
        @else {
        <a class="logout" (click)="navigateToUrl('login')">
            <img #tooltip="matTooltip" matTooltip="Iniciar sesión" matTooltipPosition="below" matTooltipClass="tooltip"
                src="/images/acceso.webp" alt="Iniciar sesión">
        </a>
        }
    </div>
</nav>