nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

span {
    font-size: 2rem;
}

#speaker {
    height: 45px;
    cursor: pointer;
}

.play:hover, .home:hover
{
    text-decoration: underline;
}

.avatar {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a :hover{
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.logout img {
    height: 45px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135px;
    border-radius: 2px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddddd;
    cursor: pointer;
}

@media (max-width: 450px) {
    nav {
        max-width: 100%;
        padding: 0.8rem;
    }

    .logout img {
        width: 30px;
    }

    .avatar {
        height: 30px;
        width: 30px;
    }

    span {
        font-size: 1.8rem;
        align-self: center;
    }

    #speaker {
        height: 30px;
    }

    #trophy {
        height: 30px;
    }
}