nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

span{
    font-size: 2rem;
}

#speaker{
    height: 45px;
    cursor: pointer;
}

#trophy{
    height: 45px;
}

.play {
    cursor: pointer;
}

.play:hover
{
    text-decoration: underline;
}

.avatar {
    vertical-align: middle;
    height: 45px;
    width: 45px;
    cursor: pointer;

    /*hay que poner otra q sea cuadrada
    border: rgb(0, 0, 0) 10px solid;
    border-width: 10px 10px 10px 10px;
    border-image-slice: 35;

    border-image-source: url("/images/marco.png");*/
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.logout{
    cursor: pointer;
}

.logout img{
    height: 45px;
}

@media (max-width: 450px) {
    nav{
        max-width: 100%;
        padding: 0.8rem;
    }
    .logout img{
        width: 30px;
    }
    .avatar{
        height: 30px;
    }
    span{
        font-size: 1.8rem;
        align-self: center;
    }
    
    #speaker{
        height: 30px;
    }
    
    #trophy{
        height: 30px;
    }
}