nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.8rem;
}

span {
    font-size: 2rem;
}

#speaker {
    height: 45px;
    cursor: pointer;
}

.play:hover, .home:hover
{
    text-decoration: underline;
}

.avatar {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    cursor: pointer;
}

.ranking{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a :hover{
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    z-index: 300;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135px;
    border-radius: 2px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.trofeo{
    position: relative;
}

#level{
    color: #cf7216;;
    text-align: center;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.5rem;
    left: 0.5rem;
    font-size: smaller;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 450px) {
    nav {
        max-width: 100%;
        padding: 0.8rem;
    }

    .logout img {
        width: 30px;
    }

    .avatar {
        height: 30px;
        width: 30px;
    }

    span {
        font-size: 1.5rem;
        align-self: center;
    }

    #speaker {
        height: 30px;
    }

    .ranking {
        height: 30px;
        width: 30px;
    }

    .nav-right{
        gap: 0.5rem;
    }

    #level{
        height: 1rem;
        width: 0.8rem;
        line-height: 1.2rem;
    }
}

/* SELECTOR IDIOMA */
.custom-select {
  width: 40px;
  border: 0px solid #ccc;
  border-radius: 4px;
  background: white;
  padding: 4px 0px;
  position: relative;
}

.custom-select summary {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  min-height: 32px;
}

.custom-select summary::marker {
  display: none;
}

/* CONTENEDOR DE OPCIONES */
.custom-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 0px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  padding: 4px;
}

.custom-select[open] .custom-select-options {
  display: flex;
}

.rad {
  display: none;
}

.opt {
  padding: 6px 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opt img {
  width: 28px;
  height: 18px;
  object-fit: contain;
}

.rad:checked + .opt {
  background-color: #ffeb3b;
}
