<nav>
    <a routerLink="/">
        <img id="speaker" src="/images/speaker.gif" alt="altavoz">
    </a>
    
    <div class="nav-right">

        <a routerLink="/">
            <span>JUGAR</span>
        </a>
    
        <a href="#rules">
            <span>REGLAS</span>
        </a>
    
        <a routerLink="/">
            <img id="trophy" src="/images/trophy.png" alt="ranking">
        </a>
    
        <a routerLink="/">
            <img class="avatar" src="/images/avatar.jpg" alt="avatar" > 
        </a>

    </div>
</nav>    