.caja {
    max-width: 400px; /*Max width para que se estreche en pantallas pequeñas*/
    margin: auto;
    box-shadow: 0 4px 8px rgba(113, 113, 113, 0.953);
    border-spacing: 1.5rem;
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(
                            to bottom right, 
                            #b827fc 0%, 
                            #2c90fc 25%, 
                            #b8fd33 50%, 
                            #fec837 75%, 
                            #fd1892 100%);
    border-image-slice: 1;
    margin: 20px auto;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

.menu button {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu button.active {
    background-color: #fff;
    border-bottom: 2px solid #7c679a;
}

.contenido {
    padding: 20px;
}

input {
    width: 95%;
    font-size: 1.5rem;
}

.login input {
    margin-bottom: 18px;
}

.registro input {
    width: 95%;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    width: 5%;
}

.button-wrapper {
    width: 150px;
}

.load-avatar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#preview-img{
    width: 65px;
    height: 65px;
    margin-left: 25px;
    border: 3px solid white;
    object-fit: cover; /* Recorta la imagen sin deformarla */
    object-position: center;
}

label {
    font-size: 1.4rem;
}

button {
    font-size: 1.5rem;
}

.error {
    color: rgb(241, 126, 126);
    text-align: left;
    font-size: 1rem;
    height: 18px;
}