<app-navbar></app-navbar>

<br>
<div class="container" *transloco="let t">
  <div class="caja">
    <!-- Pestañas -->
    <div class="menu">
      <button [class.active]="menuSeleccion === 'login'" (click)="menuSeleccion = 'login'">{{t("login")}}</button>
      <button [class.active]="menuSeleccion === 'register'" (click)="menuSeleccion = 'register'">{{t("register")}}</button>
    </div>

    <!-- Contenido de las pestañas -->
    @if (menuSeleccion === 'login') {
    <div class="contenido login">
      <form (submit)="login()">
        <div>

          <input type="text" [maxlength]="30" [placeholder]="t('email-or-nickname')" class="icon-input" required
            [(ngModel)]="emailOrNickname" [ngModelOptions]="{standalone: true}" />

          <input type="password" [placeholder]="t('password')" class="icon-input" required [(ngModel)]="password"
            [ngModelOptions]="{standalone: true}" />

          <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" inputId="rememberMe"
            binary="true" />
          <label for="rememberMe" class="remember-me-label">{{t("remember-me")}}</label>
        </div>

        <div>
          <button [disabled]="emailOrNickname.length < 1  || password.length < 1" type="submit"
            class="form-button">{{t("login")}}</button>
        </div>

      </form>

    </div>
    }
    @else {
    <div class="contenido registro">
      <form [formGroup]="registerForm" (submit)="register()">

        <input type="text" [maxlength]="16" placeholder="Nickname" formControlName="nickname" />

        <div class="error">
          <div *ngIf="registerForm.get('nickname')?.invalid && registerForm.get('nickname')?.touched">
            <div *ngIf="registerForm.get('nickname')?.hasError('required')">{{t("nickname-mandatory")}}</div>
          </div>
        </div>

        <input type="email" placeholder="Email" formControlName="email" />

        <div class="error">
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <div *ngIf="registerForm.get('email')?.hasError('required')">{{t("email-mandatory")}}</div>
            <div *ngIf="registerForm.get('email')?.hasError('email') || registerForm.get('email')?.hasError('pattern')">{{t("valid-mail")}}</div>
          </div>
        </div>

        <input type="password" [placeholder]="t('password')" formControlName="newPassword" />

        <div class="error">
          <div *ngIf="registerForm.get('newPassword')?.invalid && registerForm.get('newPassword')?.touched">
            <div *ngIf="registerForm.get('newPassword')?.hasError('required')">{{t("password-mandatory")}}</div>
            <div *ngIf="registerForm.get('newPassword')?.hasError('minlength')">{{t("password-minimum")}}</div>
          </div>
        </div>

        <input type="password" [placeholder]="t('confirm-password')" formControlName="confirmPassword">

        <div class="error">
          <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
            {{t("password-do-not-match")}}</div>
        </div>

        <label for="productImage" id="labelImage">{{t("profile-picture")}}:</label> 
        <br>
        <div class="load-avatar-container">
          <div class="button-wrapper">
            <span style="line-height: 2rem;" class="label">{{t('load-avatar')}}</span>
            <input type="file" accept="image/png, image/jpeg, image/jpg" id="input-file" placeholder="{{t('load-avatar')}}"
              (change)="onFileSelected($event)">
          </div>

          <!-- para que se vea miniatura de lo que ha elegido -->
          @if (this.image) {
          <img id="preview-img" [src]="this.imagePreview" alt="imagen">
          }
        </div>
        <br>
        <button [disabled]="!registerForm.valid" type="submit" class="form-button">{{t("register")}}</button>
      </form>

    </div>
    }
  </div>
</div>