/* ESTILOS GLOBALES :D */

@font-face {
    font-family: 'monogram';
    src: url('/font/monogram.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'monogram'
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}