<app-navbar></app-navbar>

<div class="cabecera">
    <img [src]="IMG_URL + user?.avatarPath" alt="avatar de usuario">
    <span style="font-size: 2rem;">{{user?.nickname}}</span> <!-- nickname del usuario-->
</div>

<!--mostrar tamb avatar de invitado / anfitrion-->

<p>si es anitrion</p>
<button>Jugar contra un bot</button>
<button (click)="createRandomBattle()">Jugar con oponente aleatorio</button>
<button>Invitar amigo</button>

<hr>
<p>si es invitado esta esperando a q empiece el juego</p>



