.container{
  font-size: 2rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.text-section{
  padding: 1em;
  gap: 1em;
  display: flex;
}

.text-section p{
  flex: 1 1;
}

.text-section img{
  flex: 0 1 auto;
  width: 400px;
  height: 575px;
  margin-top: -50px;
}

#rules{
  background-image: linear-gradient(
    90deg,  
    rgba(47, 201, 226, 1),
    rgba(114,175,68,1),
    rgba(255,252,60,1),
    rgba(236,126,80,1),
    rgba(219,5,99,1)
  );
  background-clip: text;
  color: transparent;
}

#triangle{
  margin-top: -1.5em;
  width: 80px;
}

.rule-list{
  width: 50%;
  text-align: left;
}

.rule-list li{
  margin: 20px 0;
}

.speaker-girl{
  width: 40%;
}

.social-logo img{
  margin-top: -0.5em;
  height: 2em;
  width: 2em;
}

.footer-text{
  margin-top: -1em;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.material-symbols-outlined{
  color: white;
}

.go-to-top:hover {
  opacity: 1;
}

/*  RESPONSIVE  */

@media (max-width: 830px) {
  .container img{
    width: 305px;
  }
  .text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rule-list{
    width: 100%;
  }
  .social-logo img{
    width: 64px;
  }
}