<app-navbar [frameName]="currentSpeakerFrameName" (musicEvent)="reproduce()"></app-navbar>

<div class="container" *transloco="let t">
  <!--<button (click)="reproduce()">Púlsame si no escuchas ninguna canción</button>-->

  <img src="/images/mdx_logo.webp" alt="logo">
  <button class="rainbow-button" (click)="this.navigateToUrl('/matchmaking')">{{t('play')}}</button>

  <div class="text-section">
    <p class="text">
      {{t("intro-1")}} <br><br>
      {{t("intro-2")}} <br><br>
      {{t("intro-3")}}
    </p>
    <img src="/images/card.webp" alt="carta">
  </div>

  <h1 id="rules">{{t("rules")}}</h1>
  <img id="triangle" src="/images/triangle.webp" alt="triangulo">
  <ul class="rule-list">
    <li>{{t("rule-1")}}</li>
    <li>{{t("rule-2")}}</li>
    <li>{{t("rule-3")}}</li>
    <li>{{t("rule-4")}}</li>
    <li>{{t("rule-5")}}</li>
    <li>{{t("rule-6")}}</li>
    <li>{{t("rule-7")}}</li>
    <li>{{t("rule-8")}}</li>
  </ul>

  <img class="speaker-girl" [src]="currentRunaFrameName" alt="speaker girl">

  <!--<p>{{ t("download-now")}}</p>-->
  <hr>

  <a href="https://github.com/rocigonf/moshiro-mixdrop" class="social-logo">
    <img src="/images/github.png" alt="github logo">
  </a>
  <p class="footer-text">2025 - Moshiro</p>
</div>

<button mat-icon-button class="go-to-top" (click)="scrollToTop()">
  <span class="material-symbols-outlined">arrow_upward</span>
</button>