<app-navbar></app-navbar>
<p>menu works!</p>
<div>
    <button (click)="askForInfo(0)">Pedir dato 1</button>
    <button (click)="askForInfo(1)">Pedir dato 2</button>
    <button (click)="askForInfo(2)">Pedir dato 3</button>
    <p>{{ serverResponse }}</p>
    <p>Total de jugadores: {{ totalPlayers }}</p>
</div>


<div class="busquedaUsuarios">
    <form (submit)="getSearchedUsers(query)">
        <input type="text" placeholder="Buscar usuarios" class="icon-input" required [(ngModel)]="query"
            [ngModelOptions]="{standalone: true}" />
        <button type="submit" [disabled]="!query" > Buscar</button>
    </form>

    @if (searchedUsers) {

    @if (searchedUsers.length<1) { 
        <p> No se encontraton usuarios</p>
        } 
    @else {
        @for (user of searchedUsers; track $index)
        { 
            <div>
                <img [src]="IMG_URL + user?.avatarPath" alt="usuario avatar" width="50px">
                 {{user.nickname}}
            </div>
            }
        }
    }
</div>