<app-navbar></app-navbar>

<button (click)="emparejar()">Jugar</button>

<div class="cabecera">
    @if (user?.avatarPath) {
        <img [src]="IMG_URL + user?.avatarPath" alt="avatar de usuario">
    } @else {
        <img src="images/user.png" alt="avatar de usuario">
    }
    <span>{{user?.nickname}}</span>
</div>

<!-- contenido -->
<div class="container">

    <!----------------------MENU LATERAL ------------------------------->
    <aside>
        <div (click)=" menuSelector='myFriends'">
            <img src="/images/amigos.webp" alt="icono amigo"> Tus amigos
        </div>
        <div (click)="menuSelector='searchUsers'">
            <img src="/images/buzon.webp" alt="icono buzon"> Añadir a un amigo
        </div>
        <div class="mostrarNoti" (click)="menuSelector='friendRequest'">
            <img src="/images/invitacion.webp" alt="icono carta">
            @if (pendingFriends.length>0) {
            <span class="notificacionNum">{{pendingFriends.length}}</span>
            }
            Solicitudes de amistad
        </div>
        <div class="mostrarNoti" (click)="menuSelector='battleRequest'">
            <img src="/images/juego.webp" alt="icono juego">

            @if (pendingBattles.length>0) {
            <span class="notificacionNum">{{pendingBattles.length}}</span>
            }
            Solicitudes de batalla
        </div>
    </aside>


    <!-- CONTENIDO -->

    <section class="seccionAmigos">
        @switch (menuSelector) {

        <!------------------------ LISTA DE AMIGOS----------------------------->
        @case ('myFriends') {

        <div class="busquedaUsuarios">
            <div>
                <span>TUS AMIGOS</span><br>
                <form (submit)="searchFriend(queryfriend)">
                    <input type="text" placeholder="Buscar amigos" class="icon-input" required [(ngModel)]="queryfriend"
                        [ngModelOptions]="{standalone: true}" />

                    <button type="submit" [disabled]="!queryfriend"> Buscar</button>
                </form>


                @if (acceptedFriends.length < 1) { <p> No tienes amigos :C</p> }

                    @else if (searchedFriends) {

                    @if (searchedFriends.length<1) { <p> Ninguno se llama asi :/</p> }
                        @else {

                        <p>CONECTADOS</p>

                        <div class="listaUsuarios">

                            @for (friend of searchedFriends; track $index)
                            {

                            @if (friend.senderUser?.stateId == 2 || friend.receiverUser?.stateId == 2) {

                            <div class="tarjetaConectado">
                                @if (friend.senderUser?.avatarPath != null && friend.senderUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.senderUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                }
                                @else if (friend.receiverUser?.avatarPath != null && friend.receiverUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.receiverUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                } @else {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                                </div>
                                }

                                <span class="nickname"
                                    (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)  ">
                                    {{ friend.senderUser?.nickname || friend.receiverUser?.nickname }}
                                </span>

                                <div class="contenedorIcono">
                                    <img #tooltip="matTooltip"
                                        matTooltip="Eliminar amigo" matTooltipPosition="above" matTooltipClass="tooltip" class="icono" (click)="removeFriend(friend)" src="/images/deleteFriend.webp"
                                        alt="eliminar amigo">
                                </div> 
                                @if (!hasBattle(friend.receiverUser|| friend.senderUser)) {
                                <div class="contenedorIcono">
                                    <img class="icono" (click)="createBattle(friend.receiverUser || friend.senderUser)"
                                        src="/images/battle.webp" alt="retar a batalla">
                                </div>}
                            </div>

                            }

                            }

                        </div>

                        <p>DESCONECTADOS</p>

                        <div class="listaUsuarios">

                            @for (friend of searchedFriends; track $index)
                            {

                            @if (friend.senderUser?.stateId == 1 || friend.receiverUser?.stateId == 1) {

                            <div class="tarjetaUsuario">
                                @if (friend.senderUser?.avatarPath != null && friend.senderUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.senderUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                }
                                @else if (friend.receiverUser?.avatarPath != null && friend.receiverUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.receiverUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                } @else {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                                </div>
                                }

                                <span class="nickname"
                                    (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)  ">
                                    {{ friend.senderUser?.nickname || friend.receiverUser?.nickname }}
                                </span>

                                <div class="contenedorIcono">
                                    <img class="icono" (click)="removeFriend(friend)" src="/images/deleteFriend.webp"
                                        alt="eliminar amigo">
                                </div>
                            </div>
                            }
                            }
                        </div>

                        <p>EN BATALLA</p>

                        <div class="listaUsuarios">

                            @for (friend of searchedFriends; track $index)
                            {

                            @if (friend.senderUser?.stateId == 3 || friend.receiverUser?.stateId == 3) {

                            <div class="tarjetaJugando">
                                @if (friend.senderUser?.avatarPath != null && friend.senderUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.senderUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                }
                                @else if (friend.receiverUser?.avatarPath != null && friend.receiverUser?.avatarPath !=
                                undefined) {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" [src]="IMG_URL + friend.receiverUser?.avatarPath"
                                        alt="usuario avatar" width="50px">
                                </div>
                                } @else {
                                <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)"
                                    class="contenedorAvatar">
                                    <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                                </div>
                                }

                                <span class="nickname"
                                    (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)">
                                    {{ friend.senderUser?.nickname || friend.receiverUser?.nickname }}
                                </span>

                                <div class="contenedorIcono">
                                    <img class="icono" (click)="removeFriend(friend)" src="/images/deleteFriend.webp"
                                        alt="eliminar amigo">
                                </div>
                            </div>
                            }
                            }
                        </div>
                        }
                        }
            </div>

        </div>
        }

        <!---------------- BUSCAR USUARIOS-------------------------------------->
        @case ('searchUsers') {
        <div class="busquedaUsuarios">
            <div>
                <span>BUSCAR USUARIO</span>
            </div>
            <form (submit)="getSearchedUsers(queryuser)">
                <input type="text" placeholder="Buscar usuarios" class="icon-input" required [(ngModel)]="queryuser"
                    [ngModelOptions]="{standalone: true}" />

                <button type="submit" [disabled]="!queryuser"> Buscar</button>
            </form>

            @if (searchedUsers) {

            @if (searchedUsers.length<1) { <p> No se encontraton usuarios</p> }
                @else {

                <div class="listaUsuarios">
                    @for (user of searchedUsers; track $index)
                    {
                    <div class="tarjetaUsuario">
                        <div (click)="visitUserPorfile(user)" class="contenedorAvatar">
                            @if (user?.avatarPath) {
                            <img class="avatar" [src]="IMG_URL + user?.avatarPath" alt="usuario avatar" width="50px">
                            } @else {
                            <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                            }
                        </div>

                        <span (click)="visitUserPorfile(user)" class="nickname">{{user.nickname}}</span>

                        <div class="contenedorIcono">
                            @if (!hasFriendship(user)) {
                            <img class="icono" (click)="addFriend(user)" src="/images/addFriend.webp"
                                alt="añadir amigo">
                            } @else if (waitingFriendship(user)) {
                            <img class="icono" src="/images/waiting.gif" alt="esperando solicitud de amistad">
                            }
                        </div>
                    </div>
                    }
                </div>
                }
                }
        </div>
        }

        <!----------------------- SOLICITUDES DE AMISTAD-------------------------->
        @case ('friendRequest') {
        SOLICITUDES DE AMISTAD

        @if (pendingFriends.length<1) { <p> No tienes solicitudes de amistad :C</p> }
            @else {

            <div class="listaUsuarios">
                @for (friend of pendingFriends; track $index)
                {
                <div class="tarjetaUsuario">
                    <div (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)" class="contenedorAvatar">
                        @if (friend.senderUser?.avatarPath) {
                        <img class="avatar" [src]="IMG_URL + friend.senderUser?.avatarPath" alt="usuario avatar"
                            width="50px">}
                        @else {
                        <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                        }
                    </div>

                    <span class="nickname" (click)="visitUserPorfile(friend.receiverUser  || friend.senderUser)">
                        {{ friend.senderUser?.nickname || friend.receiverUser?.nickname }}
                    </span>

                    <div class="contenedorIcono">
                        <img class="icono" (click)="acceptFriendship(friend.id)" src="/images/addFriend.webp"
                            alt="aceptar solicitud de amistad">
                    </div>
                    <div class="contenedorIcono">
                        <img class="icono" (click)="removeFriend(friend)" src="/images/delete.webp"
                            alt="rechazar solicitud de amistad">
                    </div>
                </div>
                }
            </div>
            }


            }

            <!------------------------------ SOLICITUDES DE BATALLA------------------------->
            @case ('battleRequest') {
            SOLICITUDES DE BATALLA

            <div class="listaUsuarios">

                @if (pendingBattles.length<1) { <p> No tienes solicitudes de batalla :C</p>
                    } @else
                    { @for (battle of pendingBattles; track battle.id){

                    <div class="tarjetaBatalla">
                        <div (click)="visitUserPorfile(battle.user)" class="contenedorAvatar">
                            @if (battle.user.avatarPath) {
                            <img class="avatar" [src]="IMG_URL + battle.user.avatarPath" alt="usuario avatar"
                                width="50px">
                            } @else {
                            <img class="avatar" src="images/user.png" alt="usuario avatar" width="50px">
                            }

                        </div>

                        <span class="nickname" (click)="visitUserPorfile(battle.user)  ">
                            {{ battle.user.nickname }}
                        </span>

                        <div class="contenedorIcono">
                            <img class="icono" (click)="acceptBattle(battle)" src="/images/battle.webp"
                                alt="aceptar batalla">
                        </div>
                        <div class="contenedorIcono">
                            <img class="icono" (click)="deleteBattle(battle)" src="/images/delete.webp"
                                alt="rechazar batalla">
                        </div>
                    </div>
                    } }
            </div>
            }
            }

    </section>


</div>

<div class="container">
    <p>Total de jugadores conectados: {{ totalPlayers }}</p>
</div>

<div class="container">
    <p>Total de partidas en juego: </p>
</div>

<div class="container">
    <p>Total de usuarios jugando: </p>
</div>


<p>Faltan jugadores en partidas y partidas en juego</p>

<!--

<br><br><br><br>
<div>
    <button (click)="askForInfo(0)">Pedir dato 1</button>
    <button (click)="askForInfo(1)">Pedir dato 2</button>
    <button (click)="askForInfo(2)">Pedir dato 3</button>
    <p>{{ serverResponse }}</p>
    <p>Total de jugadores: {{ totalPlayers }}</p>
</div>-->