<app-navbar></app-navbar>

<img src="" alt="avatar de usuario">
<p></p> <!-- nickname del usuario-->

<!-- contenido -->
<div class="container">
    <!-- menu lateral -->
    <aside>
        <div>
            <img src="/images/amigos.png" alt="icono amigo"> Tus amigos
        </div>
        <div>
            <img src="/images/buzon.png" alt="icono buzon"> Añadir a un amigo
        </div>
        <div>
            <img src="/images/invitacion.png" alt="icono carta"> Solicitudes de amistad
        </div>
        <div>
            <img src="/images/juego.png" alt="icono juego"> Solicitudes de batalla
        </div>
    </aside>


    <section>

        <div>
            <span>TUS AMIGOS</span>
            @for(friend of friends; track friend.id)
            {
                <div>
                    <p>Amistad {{ friend.id }}:</p>
                    <p>{{ friend.friend.accepted }}</p>
                    <p>{{ friend.user.nickname }}</p>
                </div>
                

            }
            <button>Añadir a un amigo</button> <!--te lleva a buscar amigos-->
        </div>

        
        <form (submit)="(queryfriend)">
            <input type="text" placeholder="Buscar amigos" class="icon-input" required [(ngModel)]="queryfriend"
                [ngModelOptions]="{standalone: true}" />
            <button type="submit" > Buscar</button>
        </form>


    </section>
</div>
<br><br><br><br>
<div>
    <button (click)="askForInfo(0)">Pedir dato 1</button>
    <button (click)="askForInfo(1)">Pedir dato 2</button>
    <button (click)="askForInfo(2)">Pedir dato 3</button>
    <p>{{ serverResponse }}</p>
    <p>Total de jugadores: {{ totalPlayers }}</p>
</div>


<br><br><br><br>
<div class="busquedaUsuarios">
    <form (submit)="getSearchedUsers(queryuser)">
        <input type="text" placeholder="Buscar usuarios" class="icon-input" required [(ngModel)]="queryuser"
            [ngModelOptions]="{standalone: true}" />
        <button type="submit" [disabled]="!queryuser"> Buscar</button>
    </form>

    @if (searchedUsers) {

    @if (searchedUsers.length<1) { <p> No se encontraton usuarios</p>
        }
        @else {
        @for (user of searchedUsers; track $index)
        {
        <div class="usuarioBuscado">
            <img [src]="IMG_URL + user?.avatarPath" alt="usuario avatar" width="50px">
            {{user.nickname}}
            <button (click)="addFriend(user)">Agregar amigo</button>
        </div>
        }
        }
        }
</div>